@keyframes box {
    from {transform:translateY(0px)}
    to {transform:translateY(300px)}
}

@keyframes largebox {
    from {opacity:0;}
    to {opacity:1;}
}

/* @keyframes boxreverse {
    from {transform:translateY(400px)}
    to {transform:translateY(0px)}
} */

.navbarbox {
    margin:0;
    /* width:35%; */
    padding-left:3%;
    padding-right:3%;
    float: left;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    text-indent:10%;
    font-weight:bold;
    padding-top: 15px;
    padding-bottom:15px;
}

.navbarboxright {
    float:right;
    height:5%;
    width:70%;
}

.navbarspacing {
    width:35%;
    padding-top:100px;
    display: inline-block;
}

.navbarmenu {
    padding-top:50px;
    padding-right:30px;
    width:10%;
    float:right;
}

.absolute {
    position:absolute;
    z-index:1;
}

.height {
    height:130px;
}

.navbartext {
    margin:0;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    float: right;
    text-decoration: none;
    padding-right:5%;
    text-align: center;
    font-weight:bold;
    padding-top: 50px;
    /* padding-bottom:50px; */
}

.navbarfolder:hover .dropbar {
    display:block;
}

.navbarfolder:hover .background_dropbar {
    display:block;
}
.navbar {
    margin:0;
    width: 100%;
    overflow:auto;
    /* animation-name: box;
    animation-duration: 4s; */
}

.above {
    z-index:1;
}

.dropbar {
    position:absolute;
    width:100%;
    top:-300px;
    animation-name:box;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: rgba(0,0,0);
}

.background_dropbar {
    height:100vh;
    position:absolute;
    width:100%;
    animation-name:largebox;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* background: rgba(0,0,0,0.3); */
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

.dropbartext {
    color:white;
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    list-style:none;
    padding-top:3%;   
    padding-bottom:3%;
}

.dropbarbottom {
    padding-bottom:9%;
}

.dropbarlogo {
    /* background-color: black; */
    text-align:center;
    padding-top:5%;
    padding-bottom:5%;
}

.dropbar:hover {
    animation-fill-mode: forwards;
    /* animation-name:boxreverse */
}

.spacer {
    height:40px;
    width:100%;
}

.mobile_spacer {
    height:20px;
    width:100%;
}

.menu {
    position:absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width:70px;
    float:right;
    margin-top:10px;
    left:75%;
    z-index:1;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color:rgb(164,31,34)
}

.background_img {
    position:absolute;
    opacity: 0.5;
}