.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin:20px;
}

.mobiletitle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom:10px;
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin:20px;
}

.mobiletext {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.date {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    margin:0px;
    font-weight:bold;
}

.mobiledate {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    margin:0px;
    font-weight:bold;
}

a {
    color:rgb(164,31,34);
    text-decoration: none;
}

a:hover {
    color:rgb(164,31,34);
    /* font-weight:bold; */
    text-decoration:underline
}

.redtext {
    color:rgb(164,31,34);
    text-decoration:underline
}


.box {
    margin:50px;
}

.mobilebox {
    margin:20px;
}
