<body>
    <app-navigationbar></app-navigationbar>

    <div class="box" *ngIf = !isMobileResolution>
        <p class="title">FREQUENTLY ASKED QUESTIONS</p>
        <p class="text">{{info_1}}<a href="https://www.linkedin.com/company/therosel/" target="_blank"> LinkedIn forum </a>{{info_2}}</p>
        <br>
        <p class="date">What is a heat battery?</p>
        <p class="text">{{question_1}}</p>
        <br>
        <p class="date">How do heat batteries work?</p>
        <p class="text">{{question_2}}</p>
        <br>
        <p class="date">What are the benefits of a heat battery?</p>
        <p class="text">{{question_3}}</p>
        <br>
        <p class="date">Can a heat battery be used with renewable energy sources?</p>
        <p class="text">{{question_4}}</p>
        <br>
        <p class="date">Are heat batteries environmentally friendly?</p>
        <p class="text">{{question_5}}</p>
        <br>
        <p class="date">How long can a heat battery store heat?</p>
        <p class="text">{{question_6}}</p>
        <br>
        <p class="date">How much does a heat battery cost?</p>
        <p class="text">{{question_7}}</p>
        <br>
        <p class="date">Can heat batteries be used in most homes?</p>
        <p class="text">{{question_8}}</p>
        <br>
        <p class="date">How does one maintain a heat battery?</p>
        <p class="text">{{question_9}}</p>
        <br>
        <p class="date">What is the lifespan of a heat battery?</p>
        <p class="text">{{question_10}}</p>
    </div>

    <div class="mobilebox" *ngIf = isMobileResolution>
        <p class="mobiletitle">FREQUENTLY ASKED QUESTIONS</p>
        <p class="mobiletext">{{info_1}}<a href="https://www.linkedin.com/company/therosel/" target="_blank"> LinkedIn forum </a>{{info_2}}</p>
        <br>
        <p class="mobiledate">What is a heat battery?</p>
        <p class="mobiletext">{{question_1}}</p>
        <br>
        <p class="mobiledate">How do heat batteries work?</p>
        <p class="mobiletext">{{question_2}}</p>
        <br>
        <p class="mobiledate">What are the benefits of a heat battery?</p>
        <p class="mobiletext">{{question_3}}</p>
        <br>
        <p class="mobiledate">Can a heat battery be used with renewable energy sources?</p>
        <p class="mobiletext">{{question_4}}</p>
        <br>
        <p class="mobiledate">Are heat batteries environmentally friendly?</p>
        <p class="mobiletext">{{question_5}}</p>
        <br>
        <p class="mobiledate">How long can a heat battery store heat?</p>
        <p class="mobiletext">{{question_6}}</p>
        <br>
        <p class="mobiledate">How much does a heat battery cost?</p>
        <p class="mobiletext">{{question_7}}</p>
        <br>
        <p class="mobiledate">Can heat batteries be used in most homes?</p>
        <p class="mobiletext">{{question_8}}</p>
        <br>
        <p class="mobiledate">How does one maintain a heat battery?</p>
        <p class="mobiletext">{{question_9}}</p>
        <br>
        <p class="mobiledate">What is the lifespan of a heat battery?</p>
        <p class="mobiletext">{{question_10}}</p>
    </div>
    <app-bottom></app-bottom>

</body>
