.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin:20px;
}

.mobiletitle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom:10px;
    margin-left:10px;
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin:20px;
    white-space: break-spaces;
}

.mobiletext {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin:10px;
    white-space: break-spaces;
}

.underline {
    text-decoration:underline;
    margin-bottom:5px;
}

.date {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    margin:20px;
    font-weight:bold;
}

.mobiledate {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin:10px;
    font-weight:bold;
}

.centering-table {
    margin-left:auto;
    margin-right:auto;
    table-layout: fixed;
}

.battery {
    overflow:hidden;
    min-width:400px;
    height:300px;
    border:10px solid rgb(30,30,30);
    background-color: lightgray;
}

.battery_content-red {
    position:absolute;
    width:390px;
    height:290px;
    margin-left:5px;
    margin-top:-145px;
    background: lightcoral;
    animation: fill 10s ease 0s infinite forwards;
}

.battery_content-blue {
    position:absolute;
    width:390px;
    height:290px;
    margin-left:5px;
    margin-top:-145px;
    background: lightblue;
}

.tube {
    height:80px;
    width:200px;
    border:10px solid rgb(30,30,30);
    background-color:lightgray;
}

.tube_content-left {
    height:70px;
    width:190px;
    margin-left:5px;
    margin-top:5px;
    animation: filltube 10s linear 0s infinite forwards;
}

.tube_content-right {
    height:70px;
    width:190px;
    margin-left:5px;
    margin-top:5px;
    animation: filltube 10s linear -5s infinite forwards;
}

.battery_information {
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align: center;
    font-size:50px;
    /* margin-top:30px; */
    opacity:100%;
    color:white;
}

.dehydration {
    animation: disappear 10s linear 0s infinite forwards;
    margin-left:-50px;

}

.hydration {
    animation: disappear 10s linear -5s infinite forwards;
    margin-left:-50px;
}

@keyframes disappear {
    0% {
        color:white;
    }

    45% {
        color:white;
    }
    50% {
        color:rgba(0,0,0,0);
    }

    95% {
        color:rgba(0,0,0,0);
    }
}

@keyframes fill {
    0% {
        width:30px;
    }

    45% {
        width:370px;
    }
    55% {
        width:370px;
    }
    100% {
        width: 30px;
    }
}

@keyframes filltube {
    5% {
        background-color: lightcoral;
    }

    45% {
        background-color: lightcoral;
    }

    50% {
        background-color: rgba(0,0,0,0)
    }

    55% {
        background-color: lightblue;
    }

    95% {
        background-color: lightblue;
    }

    100% {
        background-color: rgba(0,0,0,0);
    }
}

.arrow {
    position:absoulte;
    transform: rotate(270deg);
    margin-top:-152px;
    margin-left:-10px;

}

.arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.circle {
    position:absolute;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    border: black solid 5px;
    display: inline-block;
}

.water-drop {
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(130, 176, 255);
    border-radius: 70%;
    border: rgb(68, 136, 255) solid 5px;
    display: inline-block;
    opacity:50%;
    animation: moving-drop 2s ease 0s infinite forwards;
}

.water-drop-reverse {
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(130, 176, 255);
    border-radius: 70%;
    border: rgb(68, 136, 255) solid 5px;
    display: inline-block;
    opacity:50%;
    animation: moving-drop-reverse 2s ease 0s infinite forwards;
}

.water-drop-disappear {
    animation: disappearing-water 10s linear 0s infinite forwards;
}

.water-drop-disappear-reverse {
    animation: disappearing-water-reverse 10s linear 0s infinite forwards;
}

.warm-air {
    position:absolute;
    background-color: rgba(255, 0, 0, 0.3);
    height:400px;
    width:400px;
    box-shadow: -10px -10px 20px rgb(255, 0, 0,0.15), 10px -10px 20px rgb(255,0,0,0.15), 10px 10px 20px rgb(255,0,0,0.15), -10px 10px 20px rgb(255,0,0,0.15);
    display:inline-block;
    animation: hot-air 2s linear 0s infinite forwards;
}

.warm-air-reverse {
    position:absolute;
    background-color: rgba(255, 0, 0, 0.3);
    height:400px;
    width:400px;
    box-shadow: -10px -10px 20px rgb(255, 0, 0,0.15), 10px -10px 20px rgb(255,0,0,0.15), 10px 10px 20px rgb(255,0,0,0.15), -10px 10px 20px rgb(255,0,0,0.15);
    display:inline-block;
    animation: hot-air-reverse 2s linear 0s infinite forwards;
}


.warm-air-disappear {
    animation:hot-air-disappear 10s linear 0s infinite forwards;
}

.warm-air-disappear-reverse {
    animation:hot-air-disappear-reverse 10s linear 0s infinite forwards;
}

@keyframes disappearing-water {
    0% {
        opacity:0%;
    }
    20% {
        opacity:100%;
    }
    35% {
        opacity:100%;
    }
    45% {
        opacity:0%;
    }
    90% {
        opacity:0%;
    }
    100% {
        opacity:0%;
    }
}

@keyframes disappearing-water-reverse {
    0% {
        opacity:0%;
    }
    45% {
        opacity:0%;
    }
    50% {
        opacity:100%;
    }
    80% {
        opacity:100%;
    }
    90% {
        opacity:0%;
    }
    100% {
        opacity:0%;
    }

}

@keyframes moving-drop {
    0% {
        transform:translate(0px,0px);
        opacity:0%;
    }
    20% {
        opacity:30%;
    }
    30% {
        transform:translate(0px,0px);
        opacity:50%;
    }
    100% {
        transform:translate(30vw,0px);
        opacity:0%;
    }
}

@keyframes moving-drop-reverse {
    0% {
        transform:translate(0px,0px);
        opacity:0%;
    }
    30% {
        opacity: 30%;
    }
    80% {
        transform:translate(30vw,0px);
        opacity: 50%;
    }

    100% {
        transform:translate(30vw,0px);
        opacity:0%;
    }
}

@keyframes hot-air {
    0% {
        transform:translate(0px,0px);
        opacity:0%;
    }
    25% {
        opacity:20%;
    }

    50% {
        opacity:100%;
    }
    80% {
        opacity:60%;
        transform:translate(300px,0px);
    }
    100% {
        opacity:0%;
        transform:translate(300px,0px);
    }
}

@keyframes hot-air-reverse {
    0% {
        opacity:0%;
        transform:translate(0px,0px);
    }

    20% {
        opacity:60%;
        transform:translate(0px,0px);
    }
    50% {
        opacity:100%;
    }
    75% {
        opacity:20%;
    }
    100% {
        transform:translate(300px,0px);
        opacity:0%;
    }

}

@keyframes hot-air-disappear {
    0% {
        opacity:0%;
    }
    
    5% {
        opacity:100%;
    }

    35% {
        opacity:100%;
    }

    50% {
        opacity:0%;
    }
    80% {
        opacity:0%;
    }
    100% {
        opacity:0%;
    }
}

@keyframes hot-air-disappear-reverse {
    0% {
        opacity:0%;
    }
    50% {
        opacity:0%;
    }
    65% {
        opacity:100%;
    }
    80% {
        opacity:100%;
    }
    95% {
        opacity:0%;
    }

    100% { 
        opacity:0%;
    }
}

.centered_img {
    width:50%;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    }

.mobile_centered_img {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}

.image_border {
    box-shadow: -5px -5px 20px rgba(0,0,0,0.5), 5px 5px 20px rgba(0,0,0,0.5) ;
}

.box {
    margin:50px;
}

.mobilebox {
    margin:20px;
}