<body>
    <app-navigationbar></app-navigationbar>

    <div class="box" *ngIf = !isMobileResolution>
        <p class="title">THE TECHNOLOGY</p>
        <p class="date">Basic principle</p>
        <p class="text">
            {{ basic_principle }}
        </p>
        <p class="date">Technical details</p>
        <p class="text">
            {{ technological_details }}
        </p>
        <div class="text">
            <p class="underline">Dehydration reaction:</p> {{ dehydration_reaction }}
        </div>
        <div class="text">
            <p class="underline">Hydration reaction:</p> {{ hydration_reaction }}
        </div>
        <!-- <p  class="centered_img">
            <img src = "assets/Images/operating_principle.png" alt="operating_principle" width="100%" class="image_border">
        </p> -->

        <br>
        <br>
        <br>

        <div>
            <table class="centering">
               <tr>
                <td>
                    <div class="tube">
                        <div class="tube_content-left"></div>
                        <div class="arrow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </td>
                <td class="battery">
                    <div class="battery_content-blue"></div>
                    <div class="battery_content-red"></div>
                </td>
                <td>
                    <div class="tube">
                        <div class="tube_content-right"></div>
                        <div class="arrow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </td>
               </tr>
               <tr>
                <td></td>
                <td>
                    <div class="battery_information dehydration">Dehydration</div>
                    <div class="battery_information hydration">Hydration</div>
                </td>
                <td></td>
               </tr>
            </table>
        </div>

    </div>

    <div class="mobilebox" *ngIf = isMobileResolution>
        <p class="mobiletitle">THE TECHNOLOGY</p>
        <p class="mobiledate">Basic principle</p>
        <p class="mobiletext">
            {{ basic_principle }}
        </p>
        <p class="mobiledate">Technical details</p>
        <p class="mobiletext">
            {{ technological_details }}
        </p>
        <div class="mobiletext">
            <p class="underline">Dehydration reaction:</p> {{dehydration_reaction }}
        </div>
        <div class="mobiletext">
            <p class="underline">Hydration reaction:</p> {{ hydration_reaction }}
        </div>
        <!-- <p  class="mobile_centered_img">
            <img src = "assets/Images/operating_principle.png" alt="operating_principle" width="100%" class="image_border">
        </p> -->
    </div>

    <app-bottom></app-bottom>
</body>