<body>
    <app-navigationbar></app-navigationbar>

    <div class="box" *ngIf = !isMobileResolution>
        <div class="small-spacer"></div>
        <div class="typewriter">
            <div class="container">
                <div class="typed-out">
                    What is a heat battery?
                </div>
                <div class="typed-out animation-delay-4s">
                    How can I use a heat battery to heat my home?
                </div>
                <div class="typed-out animation-delay-8s">
                    What makes a heat battery so efficient?
                </div>
                <div class="typed-out animation-delay-12s">
                    How do heat batteries revolutionize sustainability?
                </div>
                <div class="typed-out animation-delay-16s">
                    What does the future of heat batteries look like?
                </div>
            </div>
        </div>
        <div class="slogan-text">Engaging people with new technologies. An easy-to-use tool to show the potential of a heat battery in your home.</div>
        <p class="centering"><button (click)="scrollDown()" class="button" >EXPLORE MY OPTIONS</button></p>
        <div class="spacer"></div>


        <div>
            <div class="buttons_overview" id="page-1">
                <br>
                <br>
                <p class="title"> Explore what heat batteries have to offer</p>
                <br>
                <p class="bordered text"> Explore what heat batteries have to offer by reading about how the technology works, seeing what the future holds for heat batteries, and some of the answers to frequently asked questions on heat battery technology.</p>
                <br>
                <br>
                <table class="center_table">
                    <td>
                        <a class= "button" routerLink="/technology" routerLinkActive="active" ariaCurrentWhenActive="page">TECHNOLOGY</a>
                    </td>
                    <td>
                        <a class="button" routerLink="/solution" routerLinkActive="active" ariaCurrentWhenActive="page">YOUR SOLUTION</a>
                    </td>
                    <td>
                        <a class="button" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" href="">FAQ</a>
                    </td>
                </table>
                <br>
                <br>
            </div>
        </div>

        <div>
            <div id="page-2">
                <p class="news">RECENT ARTICLES</p>
                <p class="date">February 23, 2023</p>
                <p class="title">WELCOME TO OUR NEW WEBSITE</p>
                <p class="text">
                    {{ news1 }}
                </p>
                <br>
                <p class="date">February 12, 2023</p>
                <p class="title">AFFORDABLE HEAT PUMPS FOR A SUSTAINABLE FUTURE</p>
                <div class="text">
                    {{ news_affordable_heat_pumps }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7030647874866544640" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <!-- <div class="centering">
                    <img src="https://media.licdn.com/dms/image/sync/D4E27AQEUYuwGcBCz3g/articleshare-shrink_800/0/1683629904508?e=1685311200&v=beta&t=G1Ypmo1an79EEC5ZoaZ2PA312eNPGPV1ubMd-SodnXA" width="700px">
                </div> -->
                <br>
                <p class="date">January 12, 2023</p>
                <p class="title">FUTURE OF BUILDING TECHNOLOGY: 2023 AND BEYOND</p>
                <div class="text">
                    {{ news_future_building_technology }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7019251928878456832" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <br>
                <p class="date">January 3, 2023</p>
                <p class="title">SOLAR-TO-X, FUTURE OF EUROPE</p>
                <div class="text">
                    {{ news_lappeenranta_university }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7016119906282668033" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <br>
                <p class="date">December 28, 2023</p>
                <p class="title">RONDO HEAT BATTERY</p>
                <div class="text">
                    {{ news_rondo_energy }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7013969484457590784" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <br>
                <p class="date">December 18, 2023</p>
                <p class="title">STORING HEAT IN SAND</p>
                <div class="text">
                    {{ news_sand_battery }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7013969484457590784" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="mobilebox" *ngIf = isMobileResolution>

        <div class="small-spacer"></div>
        <div class="typewriter-mobile">
            <div class="container">
                <div class="typed-out-mobile">
                    What is a heat battery?
                </div>
                <div class="typed-out-mobile animation-delay-4s">
                    How can I use a heat battery to heat my home?
                </div>
                <div class="typed-out-mobile animation-delay-8s">
                    What makes a heat battery so efficient?
                </div>
                <div class="typed-out-mobile animation-delay-12s">
                    How do heat batteries revolutionize sustainability?
                </div>
                <div class="typed-out-mobile animation-delay-16s">
                    What does the future of heat batteries look like?
                </div>
            </div>
        </div>
        <div class="slogan-text-mobile">Engaging people with new technologies. An easy-to-use tool to show the potential of a heat battery in your home.</div>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div>
            <div class="mobile-buttons_overview" id="page-1-mobile">
                <br>
                <br>
                <p class="mobiletitle"> Explore what heat batteries have to offer</p>
                <br>
                <p class="mobile-bordered mobiletext"> Explore what heat batteries have to offer by reading about how the technology works, seeing what the future holds for heat batteries, and some of the answers to frequently asked questions on heat battery technology.</p>

                <table class="center_table">
                    <td>
                        <a class= "mobile-button" routerLink="/technology" routerLinkActive="active" ariaCurrentWhenActive="page">TECHNOLOGY</a>
                    </td>
                    <td>
                        <a class="mobile-button" routerLink="/solution" routerLinkActive="active" ariaCurrentWhenActive="page">FUTURE</a>
                    </td>
                    <td>
                        <a class="mobile-button" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" href="">FAQ</a>
                    </td>
                </table>
                <br>
                <br>
            </div>
        </div>
        <div id="page-2-mobile">
            <p class="mobilenews">RECENT ARTICLES</p>
            <p class="mobiledate">February 23, 2023</p>
            <p class="mobiletitle">WELCOME TO OUR NEW WEBSITE</p>
            <p class="mobiletext">
                {{ news1 }}
            </p>
            <br>
                <p class="mobiledate">February 12, 2023</p>
                <p class="mobiletitle">AFFORDABLE HEAT PUMPS FOR A SUSTAINABLE FUTURE</p>
                <div class="mobiletext">
                    {{ news_affordable_heat_pumps }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7030647874866544640" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <!-- <div class="centering">
                    <img src="https://media.licdn.com/dms/image/sync/D4E27AQEUYuwGcBCz3g/articleshare-shrink_800/0/1683629904508?e=1685311200&v=beta&t=G1Ypmo1an79EEC5ZoaZ2PA312eNPGPV1ubMd-SodnXA" width="700px">
                </div> -->
                <br>
                <p class="mobiledate">January 12, 2023</p>
                <p class="mobiletitle">FUTURE OF BUILDING TECHNOLOGY: 2023 AND BEYOND</p>
                <div class="mobiletext">
                    {{ news_future_building_technology }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7019251928878456832" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <br>
                <p class="mobiledate">January 3, 2023</p>
                <p class="mobiletitle">SOLAR-TO-X, FUTURE OF EUROPE</p>
                <div class="mobiletext">
                    {{ news_lappeenranta_university }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7016119906282668033" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <br>
                <p class="mobiledate">December 28, 2023</p>
                <p class="mobiletitle">RONDO HEAT BATTERY</p>
                <div class="mobiletext">
                    {{ news_rondo_energy }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7013969484457590784" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <br>
                <p class="mobiledate">December 18, 2023</p>
                <p class="mobiletitle">STORING HEAT IN SAND</p>
                <div class="mobiletext">
                    {{ news_sand_battery }} <a href="https://www.linkedin.com/feed/update/urn:li:activity:7013969484457590784" class="redtext" target="blank">→ See on LinkedIn</a>
                </div>
                <br>
        </div>
    </div>
    <app-bottom></app-bottom>

</body>